.featured {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.featured-item {
    flex: 1;
    margin: 0 1.2rem;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 3px 16px -5px rgba(201, 201, 201, 0.75);
    -webkit-box-shadow: 2px 3px 16px -5px rgba(201, 201, 201, 0.75);
    -moz-box-shadow: 2px 3px 16px -5px rgba(201, 201, 201, 0.75);
}

.money-icon {
    font-size: 1.2rem !important;
}

.featured-title {
    font-size: 1.15rem;
}

.featured-money-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.featured-money {
    font-size: 30px;
    font-weight: 600;
}

.featured-money-rate {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.featured-money-rate.down {
    color: red;
}

.featured-money-rate.up {
    color: green;
}

.featured-sub {
    font-size: 15px;
    color: grey;
}